*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode
.tags*
.tags

!*.gitkeep
node_modules/
.env